@import "./site/vendor/rfs";
@import "./site/abstracts/variables";
@import "./site/abstracts/mixins";


.card {
    padding: 20px;
    border: solid 1px $primary;
    border-radius: 20px;
}

.card:hover {
    border: solid 1px white;
    transition: .5s;
}